.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    width: 100%;
    border-color: #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#hr7 {
    margin-top: 15px;
    width: 100%;
    height: 4px;
    border: 1px solid rgba(255, 255, 255, .46);    
    background-color: #191919;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE3MDUgNCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjE3MDUiIGhlaWdodD0iNCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    /* gradient overlay */
    
    background-image: -moz-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 50%, #000 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 50%, #000 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 50%, #000 100%);
    /* gradient overlay */
    background-image: linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 50%, #000 100%);
    /* gradient overlay */
    -moz-box-shadow: inset 0 1px 0 #0df;
    /* inner shadow */
    -webkit-box-shadow: inset 0 1px 0 #0df;
    /* inner shadow */
    box-shadow: 1px 1px 4px #0df;
    /* inner shadow */
}